* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url(../images/mets-img.webp);
    height: 100vh;
    background-size: cover;
    display: flex;
    vertical-align: bottom;
    text-align: left;
}

#hero-1 h1 {
    font-size: 15vw;
    position: absolute;
    font-size: 80px;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: orange;
    margin-top: 20px;
}

#hero-1 h4 {
    font-size: 15vw;
    display: flex;
    position: absolute;
    margin-bottom: 40px;
    font-size: 30px;
    padding: 100px;
    color: #0400ff;
}

#head {
    padding: 50px 0px;
    text-align: center;
    border-top: 5px solid #ffd900;
    border-bottom: 5px solid #ffd900;
    background-color: bisque;
    a {
        display: bold;
        border: 2px solid #a26d0b;
        max-width: 250px;
        margin: 0px auto;
        padding: 10px 20px;
        color: #674609;
        text-decoration: none;
        box-shadow: 
            inset 0px 0px 10px #ffd900,
            0px 0px 10px #ffd900
        ;
    }
}

#hero-2 {
    background-image: url(../images/padres-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}


#hero-2 h1 {
    font-size: 65px;
    background-color: white;
    border: 3px solid gold;
    border-radius: 12px;
}

#hero-2 h4 {
   font-size: 32px;
   padding: 10px;
   background-color: white;
   border: 3px solid gold;
   border-radius: 12px;
}

#hero-3 {
    background-image: url(../images/rays-img.webp);
    height: 100vh;
    background-size: cover;
    display: flex;
    vertical-align: bottom;
    text-align: left;
}

#hero-3 h1 {
    display: flex;
    position: relative;
    top: 10%;
    left: 64%;
    color: yellow;
    font-size: 100px;
    text-decoration: underline;
}

#hero-3 p {
    display: flex;
    position: relative;
    top: 10%;
    left: 48%;
    font-size: 32px;
    padding: 10px;
    color: yellow;
}