* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px;
}



#img1 img {
   width: 225px;
   padding: 12px;
   margin: 24px;
}

.navlogo {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
    p {
        margin-right: auto;
        font-weight: bold;
        font-size: 75px;
        padding: 0px 24px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

#navbar {
    background-color: #42614e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #home a {
        color: #82d70b;
    }
}

#navbar a:not(.navlogo) {
    display: inline-block;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    font-size: 20px;
    padding: 30px 24px;
    &:hover {
        color: #82d70b;
    }
}

.navlinks {
    display: flex;
    padding: 30px 24px;
}

.drop-contain {
    position: relative;
}

.drop-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
}

.drop-contain:hover .drop-menu {
    opacity: 1;
    visibility: visible;
}

.drop-contain:last-child .drop-menu {
    right: 0px;
}

.drop-menu a {
    background-color: #1c4214;
    width: 100%;
    min-width: 200px;    
}

 #navbar .drop-menu a:hover {
    background-color: #122710;
    color: white;
}

#header {
    position: sticky;
    z-index: 1;
    top: 0px;
}

.book #btn{
    background-color: #122710;
    border: 1px solid white;
    border-radius: 12px;
    padding: 12px 12px;
}

#hero-img {
    background-image: url(../images/hero-img-new.jpg);
    background-size: cover;
    height: 90vh;
    padding: 24px;

}

#hero-text h1 {
    color: white;
    font-size: 75px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 40%;
    right: 64%;
}

#hero-text h2 {
    color: white;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    top: 54%;
    right: 50%;
}

#hero-text #btn2 {
    text-decoration: none;
    color: white;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    position: absolute;
    top: 70%;
    right: 66%;
    background-color: #122710;
    border: 1px solid white;
    border-radius: 12px;
    padding: 12px 12px;
    display: inline-block;
    padding: 15px 25px;
    background: linear-gradient(90deg, #42614e, #203424);
    transition: all 0.5s;
    &:hover {
        box-shadow: 
            -5px 0px 20px #96f088,
            5px 0px 20px #42614e,
            inset 0px 0px 10px #fff5    
        ;
    }
}

#flavor {
    display: flex;
}

#flavor .card img {
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.cards {
    background-color: #42614e;
    padding: 12px;
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

#flavor .card {
    display: inline-block;
    width: 100vw;
    text-align: center;
    border: 2px solid #9aefa6;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #2f8e48;
    background: linear-gradient(-50deg, #7b9d73, white, #7b9d73);
}

#flavor .card h2 {
    font-size: 36px;
    margin-top: 12px;
}

#flavor .card p {
    font-size: 18px;
}

#flavor .card .btn {
    color: black;
    text-decoration: none;
    background-color: #5f7e53;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 8px;
    border: 3px solid #356b2a;
    text-align: center;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: transparent;
        color: #152c17;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #7b9d73;
    padding: 12px;
    color: white;
    justify-content: center;
    gap: 64px;
    li a {
        list-style-type: none;
        text-decoration: none;
        color: white;
        &:hover {
            color: #82d70b;
            text-decoration: 
            underline
            ;
        }
    }
    h4 {
        text-align: center;
    }
}

.bottom {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #7b9d73;
    padding: 36px;
    color: white;
}

#btn {
    background-color: #5c886d;
    border: 1px solid white;
    border-radius: 12px;
    padding: 12px 12px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    &:hover {
        box-shadow: 
            -5px 0px 20px #96f088,
            5px 0px 20px #42614e,
            inset 0px 0px 10px #fff5    
        ;
    }
}

.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #000000;
    color: #42614e;
    padding: 1px;
    h1 {
        font-style: italic;
        font-size: 48px;
        
    }
    h2 {
        font-style: italic;
        font-size: 55px;
    }
}

.featured {
    text-align: center;
    background-color: black;
    padding: 12px;
    color: white;
    h1{
        color: #afccba;
    }
    p {
        font-style: italic;
    }
}

.steak {
    background-image: url(../images/ny-steak.png);
    background-size: contain;
    height: 445px;
    align-items: center;
}

.sub {
    text-align: center;
}
#menu-cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 25px
}

#menu-cards .sub {
    flex: 100%;
}

#menu-cards .card {
    width: 350px;
    height: 350px;
    background-image: url(../images/bruschetta.jpg);
    background-size: cover;
    border: 2px solid white;
    border-radius: 36px;
    .content {
        background-color: #00000099;
        padding: 25px;
        color: white;
        border: 2px solid transparent;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#menu-cards .card:hover .content {
    opacity: 1;
    
}

#menu-cards #c2 {
    background-image: url(../images/wings.jpg);
}

#menu-cards #c3 {
    background-image: url(../images/calamari.jpg);
}

#menu-cards #c4 {
    background-image: url(../images/spin-art-wonton.jpg);
}

#menu-cards #c5 {
    background-image: url(../images/lobster-bisque.jpg);
}

#menu-cards #c6 {
    background-image: url(../images/Jalapeno-Poppers.jpg);
}

#menu-cards #c7 {
    background-image: url(../images/rasta-pasta.jpg);
}

#menu-cards #c8 {
    background-image: url(../images/burger-fries.jpg);
}

#menu-cards #c9 {
    background-image: url(../images/shrimp-kabobs.jpg);
}

#menu-cards #c10 {
    background-image: url(../images/pizza.jpg);
}

#menu-cards #c11 {
    background-image: url(../images/chicken-tacos.jpg);
}

#menu-cards #c12 {
    background-image: url(../images/poke-bowl.jpg);
}

#menu-cards #c13 {
    background-image: url(../images/quesadilla.jpg);
}

#menu-cards #c14 {
    background-image: url(../images/spagetti.jpg);
}

#menu-cards #c15 {
    background-image: url(../images/surf-n-turf-ribeye.avif);
}

#menu-cards #c16 {
    background-image: url(../images/chicken-waffles.jpg);
}

#menu-cards #c17 {
    background-image: url(../images/salmon-bowl.webp);
}

#menu-cards #c18 {
    background-image: url(../images/sushi.jpg);
}

@media screen and (max-width: 768px) {
    #navbar #navlinks #navlogo {
        width: 50px;
    }
}