* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/sl_011023_55240_03.jpg);
    background-size: cover;
    background-position: center;
}

#navbar {
    background: linear-gradient(to bottom, #ffb71d, #ed8c37, #ec771d);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #logo {
    margin-right: auto;
    color: white;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#header {
    position: sticky;
    top: 0px;
}

img {
    width: 70%;
}

